body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e0f7ff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #cceeff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #007acc;
    margin-top: 0;
    text-align: center;
}
